body {
  background-color: #1a1a1a;
}
.head-bg {
  background-color: black;
  height: 200px;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.SearchBox {
  display: flex;
  justify-content: center;
  background-color: gainsboro;
  gap: 10px;
  position: absolute;
  top: 25%;
  left: 50%;
  right: 50%;
}
.SearchBox input {
  height: 30px;
  width: 600px;
  padding: 10px 20px;
  background-color: #1a1a1a;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}
.custom-button {
  background-color: #1e6f9f;
  padding: 12px 20px;
  border-radius: 8px;
  border: #1e6f9f;
  color: white;
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
}
.createTask {
  width: 735px;
  margin: auto;
}
.Task-List {
  color: white;
  text-align: center;
}
.counter {
  background-color: #262626;
  border: 2px solid #262626;
  border-radius: 100px;
  padding: 2px 10px;
  margin: 10px;
}
.tasks-tab {
  display: flex;
  justify-content: space-between;
  margin: 65px auto;
  border-bottom: 1px solid gray;
}
.tasks-tab2 {
  display: flex;
  justify-content: space-between;
  margin: 60px 0px 0px auto;
}
.created-head {
  color: #4ea8de;
  font-weight: bold;
}
.created-head2 {
  color: #8284fa;
  font-weight: bold;
}
.counter {
  color: white;
}

.descrip {
  width: 350px;
  margin: 20px auto;
  font-weight: bold;
  color: gray;
}
.plus-icon {
  font-size: 20px;
}
.tasklist-Data {
  color: white;
  width: 735px;
  margin: 14px auto;
  display: flex;
  background-color: #262626;
  padding: 0px 20px;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.line-through {
  text-decoration: line-through;
  color: gray;
  font-size: 14px;
}
.tasks {
  font-size: 14px;
}
.trash {
  margin-left: auto;
}
@media only screen and (min-width: 1440px) {
  .SearchBox {
    position: absolute;
    top: 26%;
    left: 50%;
    right: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .SearchBox {
    position: absolute;
    top: 28%;
    left: 50%;
    right: 50%;
  }
}
@media only screen and (min-width: 1700px) {
  .SearchBox {
    position: absolute;
    top: 24%;
    left: 50%;
    right: 50%;
  }
}
